<% posts.each do |post| %>

<div class="blog-post">
	<h4 class="blog-post-title"><%= post.title %></h4>
	<small>
		<span>Written by:</span>
		<label class="blog-post-autor">
			<a href="/author/<%= post.author %>"><%= post.author %></a> </label> <br>
	</small>
	<h6>
		<% post.tag_list.each do |tag| %>
		<b><a href="/tags/<%= tag%>"><%= tag%></a></b>
		<% end %>
	</h6>
	<p><%= post.short_description%> 
		<br> <a href="/post/<%= post.id%>"> read more..</a></p>
</div><!-- /.blog-post -->
<% end %>